<launch>

<rosparam command="load" file="$(find ros_rhinf)/cfg/XY_sys.yaml" />

<group ns="UAS_1">
<param name="mocap_name" type="string" value="Mambo_4" />
<param name="sample_time" type="double" value="0.01" />
<rosparam command="load" file="$(find ros_rhinf)/cfg/XY_sys.yaml" />
<node pkg="ros_rhinf" type="ros_rhinf_conv_node" name="Mambo_axis_conv_4"/>
<node pkg="ros_rhinf" type="node" name="Mambo_x_axis" output="screen">
	<param name="topic_controller" type="str" value="control_effort_pos_X"/>
	<param name="topic_state" type="str" value="rhinf_st_x"/>
	<param name="topic_ref" type="str" value="rhinf_ref_x"/>
</node> 
<node pkg="ros_rhinf" type="node" name="Mambo_y_axis" output="screen">
	<param name="topic_controller" type="str" value="control_effort_pos_Y"/>
	<param name="topic_state" type="str" value="rhinf_st_y"/>
	<param name="topic_ref" type="str" value="rhinf_ref_y"/>
</node> 
</group>

<group ns="UAS_2">
<param name="mocap_name" type="string" value="Mambo_5" />
<param name="sample_time" type="double" value="0.01" />
<rosparam command="load" file="$(find ros_rhinf)/cfg/XY_sys.yaml" />
<node pkg="ros_rhinf" type="ros_rhinf_conv_node" name="Mambo_axis_conv_5"/>
<node pkg="ros_rhinf" type="node" name="Mambo_x_axis" output="screen">
	<param name="topic_controller" type="str" value="control_effort_pos_X"/>
	<param name="topic_state" type="str" value="rhinf_st_x"/>
	<param name="topic_ref" type="str" value="rhinf_ref_x"/>
</node> 
<node pkg="ros_rhinf" type="node" name="Mambo_y_axis" output="screen">
	<param name="topic_controller" type="str" value="control_effort_pos_Y"/>
	<param name="topic_state" type="str" value="rhinf_st_y"/>
	<param name="topic_ref" type="str" value="rhinf_ref_y"/>
</node> 
</group>

<group ns="UAS_3">
<param name="mocap_name" type="string" value="Mambo_6" />
<rosparam command="load" file="$(find ros_rhinf)/cfg/XY_sys.yaml" />
<param name="sample_time" type="double" value="0.01" />
<node pkg="ros_rhinf" type="ros_rhinf_conv_node" name="Mambo_axis_conv_6" output="screen"/>
<node pkg="ros_rhinf" type="node" name="Mambo_x_axis" output="screen">
	<param name="topic_controller" type="str" value="control_effort_pos_X"/>
	<param name="topic_state" type="str" value="rhinf_st_x"/>
	<param name="topic_ref" type="str" value="rhinf_ref_x"/>
</node> 
<node pkg="ros_rhinf" type="node" name="Mambo_y_axis" output="screen">
	<param name="topic_controller" type="str" value="control_effort_pos_Y"/>
	<param name="topic_state" type="str" value="rhinf_st_y"/>
	<param name="topic_ref" type="str" value="rhinf_ref_y"/>
</node> 
</group>

</launch>
